@charset "UTF-8";
/* CSS Document */

/*Blog Styling*/
.hero {
    margin-bottom: 100px;
}

.hero img {
    width: 100%;
}

figure {
    margin: 0;
}

.caption p {
    text-align: center;
    font-weight: 200;
    font-size: .9em;
}

.title-info h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.title-info h2:after {
    content: ' ';
    background-color: #ffdf7f;
    height: 10px;
    width: 100%;
    display: block;
    margin-top: 20px;
}

.copy p {
    font-weight: 200;
    line-height: 24px;
}

blockquote {
    border-left: 8px solid #ffdf7f;
    padding: 30px 20px;
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    quotes: "\201C""\201D""\2018""\2019";
    background-color: #f9f9f9;
	margin: 0;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p { display: inline;}

cite {
    display: block;
    text-align: right;
    font-size: 1.5rem;
    padding-top: 20px;
}

cite:before {
    content: '\2014';
}

.author-info {
    display: flex;
    align-items: center;
    grid-gap: 20px;
    margin-bottom: 50px;
}

.name {
	font-weight: 700;
    color: #ffdf7f;
}
.info { font-style: italic; }

img.avatar {
    width: 100px;
    border-radius: 100px;
}

.engage {
    justify-content: flex-end;
    display: flex;
    grid-gap: 20px;
	margin: 40px 0;
}

.engage i {
    font-size: 30px;
}

.engage a {
    border-bottom: none;
}

.engage a:hover {
    border-bottom: none;
	color: #000;
}