@charset "UTF-8";
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
a {
    color: #ffdf7f;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #000;
}
.main-grid a:hover {
    color: #000;
    border-bottom: 1px solid #ffdf7f;
}
.social-flex a {
    border: none;
}
.social-flex a:hover {
	border-bottom: none;
}
header {
    padding: 20px;
    background-color: #ffdf7f;
    border-bottom: 4px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    color: #000;
}
header a {
    border-bottom: none;
}
header a:hover > header h1 {
    color: #000;
}

.main-grid {
    display: grid;
}
aside {
    padding: 40px;
    display: flex;
    grid-gap: 40px;
    flex-direction: column;
    order: 2;
	background-color: #353535;
}
.card img {
    width: 100%;
    display: block;
    transition: .4s ease;
}
.feat-img {
    overflow: hidden;
}
.featured .card:hover img {
    transform: scale(1.5);
}
.about.cover h3 {
    font-weight: 700;
    font-size: 1.5em;
}
.about.card {
    box-shadow: 4px 4px #ffdf7f;
    border: 3px solid #ffdf7f;
	background-color: #fff;
}
.about p {
    margin-top: 0;
}
.card-content {
    padding: 20px;
    font-weight: 200;
}
.btn-container {
    display: flex;
    grid-gap: 20px;
    flex-direction: column;
    height: fit-content;
}
button.btn {
    font-size: 1.5em;
    padding: 12px;
    background-color: #353535;
    border: 2px solid #ffdf7f;
    border-radius: 10px;
    color: #ffdf7f;
	transition: .4s ease;
}
button.btn:hover {
    background-color: #ffdf7f;
    color: #353535;
}
button.btn.focus:hover {
    background-color: #000;
    border: 2px solid #000;
	color: #fff;
}
button.btn.focus {
    background-color: #ffdf7f;
    color: #353535;
	transition: .4s ease;
}
.social i {
    font-size: 3em;
    color: #ffdf7f;
	transition: transform .25s ease;
}
.social i:hover {
    color: #fff;
	transform: translateY(-8px);
}
.social i:hover a {
	border-bottom: none;
}
.social h3 {
    color: #ffdf7f;
}
.social-flex {
    display: flex;
    justify-content: space-evenly;
}
.featured .card {
    box-shadow: 0px 0px 16px #d6d6d6;
    margin: 1em 0;
}
.card-grid {
    display: flex;
    flex-direction: column;
}
.card h3 {
    background-color: #ffdf7f;
    padding: 20px;
    margin: 0;
}
p.date {
    font-weight: 500;
    color: #969696;
    font-size: .8em;
}
footer {
    background-color: #eee;
    padding: 20px;
    text-align: center;
	border-top: 4px solid #ffdf7f;
}

i.fas.fa-heart {
    color: red;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}

footer:hover i.fas.fa-heart {
	animation: pulse 1s infinite;
}

/*Blog Styling*/
.hero {
    margin-bottom: 100px;
}
.hero img {
    width: 100%;
}
.caption p {
    text-align: center;
    font-weight: 200;
    font-size: .9em;
}
.title-info h2 {
    font-size: 3em;
    margin-bottom: 20px;
}
.title-info h2:after {
    content: ' ';
    background-color: #ffdf7f;
    height: 10px;
    width: 100%;
    display: block;
    margin-top: 20px;
}
.copy p {
    font-weight: 200;
    line-height: 24px;
}
blockquote {
    border-left: 8px solid #ffdf7f;
    padding: 30px 20px;
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    quotes: "\201C""\201D""\2018""\2019";
    background-color: #f9f9f9;
	margin: 0;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p { display: inline;}
cite {
    display: block;
    text-align: right;
    font-size: 1.5rem;
    padding-top: 20px;
}
cite:before {
    content: '\2014';
}
.author-info {
    display: flex;
    align-items: center;
    grid-gap: 20px;
    margin-bottom: 50px;
}
.name {
	font-weight: 700;
    color: #ffdf7f;
}
.info { font-style: italic; }
img.avatar {
    width: 100px;
    border-radius: 100px;
}
.engage {
    justify-content: flex-end;
    display: flex;
    grid-gap: 20px;
	margin: 40px 0;
}
.engage i {
    font-size: 30px;
}
.engage a {
    border-bottom: none;
}
.engage a:hover {
    border-bottom: none;
	color: #000;
}
/*Media Queries*/

@media (min-width: 901px) and (max-width: 1300px) {
.main-grid {
    display: grid;
    grid-template-columns: 30% 70%;
}
aside {
    order: 1;
}
article {
    order: 1;
}
.article {
    padding: 0 40px;
}
	blockquote {margin: 32px 40px;}
}

@media (min-width: 1301px) {
.main-grid {
    display: grid;
    grid-template-columns: 20% 80%;
}
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.article {
    width: 80%;
    margin: 0 auto;
}
aside {
    order: 1;
}
article {
    order: 2;
}
	blockquote {margin: 32px 40px;}
}
